.jumbo {
    background-image: url("https://i.imgur.com/a5WaDgo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}

.logo {
    height: 80px;
}

.footer {
    height: 100px;
}

body{
    font-family: 'Poppins', Sans-serif;
}

.navbar{
    font-family: 'Poppins', Sans-serif;
    font-weight: 600;
}

#multiButton{
    border-radius: 40px;
    padding-top: 9px;
    height: 40px;
    text-align: center;
}

#multiButton:hover{
    transition: ease-in 0.3s;
    transform: translateY(-3px);
}

#loginButton{
    border-radius: 40px;
    padding-top: 7px;
    width: 110px;
    height: 45px;
    background-color: #ffc224;
    border: 2px solid #d0a42e;
    text-align: center;
    font-size: 19px;
}

#loginButton:hover{
    cursor: pointer;
    border: 2px solid #5751e1;
    color:#5751e1;
    transition: ease-out 0.2s;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    cursor: pointer;
    color: #5751e1
}

@media screen and (max-width: 1280px) {
    .externalLoginButton{
        display: none;
    }
    .navbar-nav{
        gap: 30px;
    }
    .bannerImageSize{
        display: none;
    }
    .imageBox{
        display: none;
    }
    #bannerTitle{
        font-size: 100px;
        margin: auto;
    }
    .pointsUpper{
        position: absolute;
        top: -60px;
        left: 230px;
        height: 80px;
    }
    .portraitBox{
        margin-right: 40px;
        padding-right: 30px;
    }
    
    .pointDiv img{
        display: none;
    }
}

@media screen and (min-width: 1280px){
    .liLoginButton{
        display: none;
    }
    .navbar-nav{
        gap: 100px;
    }
    
    .bannerImageSize{
        height: 420px;
        /*
        bottom: 145px;
        left: 37%;
        */
    }
    #bannerTitle{
        font-size: 130px;
    }

    .pointsUpper{
        position: absolute;
        top: -40px;
        left: 320px;
        height: 90px;
    }
    .portraitBox{
        padding-left: 200px;
        
    }
}

@media screen and (min-width: 2048px){
    .liLoginButton{
        display: none;
    }
    .navbar-nav{
        gap: 60px;
    }
    
    .bannerImageSize{
        height: 500px;
        /*
        bottom: 50px;
        left: 45%;
        */
    }
    #bannerTitle{
        font-size: 140px;
    }

    .pointsUpper{
        position: absolute;
        top: -55px;
        left: 360px;
        height: 100px;
    }

    .yellowDiv img{
        position: absolute;
        z-index: 2;
        right: 2px;
        top: 25px;
        width: 150px;
    }
    
}

.bannerAcua{
    background: rgb(231,229,237);
    background: linear-gradient(90deg, rgba(231,229,237,1) 0%, rgba(246,235,249,1) 23%, rgba(251,251,255,1) 49%, rgba(246,235,249,1) 79%, rgba(215,210,226,1) 100%);
    height: 480px;
    margin-top: 30px;
    gap: 170px;
    /*
    position: absolute;
    */
    z-index: 2;
}

.bannerImage{
    /*
    position: relative;
    */
    z-index: 1;
}

.portraitBox{
    max-width: 420px;
    padding-bottom: 105px;
    margin-left: 40px;
    padding-left: 30px;
}

#bannerTitle{
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

/* Colors for fonts*/
.portraitPrimaryColor{
    color: #161439;
}

.portraitSecundaryColor{
    color: #5751e1;
}

.acuaPortraitText{
    position: relative;
}

.imageBox{
    position: relative;
}

.cardFollowers{
    width: 195px;
    height: 105px;
    position: absolute;
    top: 230px;
    left: -20px;
    background: #FFFFFF;
    border: 1.5px solid #B2BBCC;
    box-shadow: -8px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

#secondCard{
    top: 70px;
    left: 50px;
    height: 105px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 9px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    z-index: 3;
}

.arrowPng{
    z-index: 2;
    position: absolute;
    height: 80px;
    left: 220px;
    top: 100px;
    transform: rotate(200deg);
}

.mediumWeight{
    font-weight: 600;
}

.bigWeight{
    font-weight: 700;
}

.swiper {
    width: 80vw;
    height: 60%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    padding: 15px;
}

.cardProff{
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}

.swiper-button-next{
    margin-left: 200px;
}

.cardGoal{
    height: 210px;
    width: 420px;
    border-radius: 15px;
}

.plansTitleBox{
    background-color: #5751e1;
    height: 100px;
    position: relative;
    z-index: 1 ;
}

.textPlanes{
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.cardPlan{
    height: 500px;
    width: 370px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.aboutUsBox{
    width: 63vw;
    height: 60vh;
    background-color: #5751e1;
    margin: auto;
    border-radius: 20px;
}





