.jumbo {
    background-image: url("https://i.imgur.com/a5WaDgo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
}

.logo {
    height: 80px;
}

.footer {
    height: 100px;
}

body{
    font-family: 'Poppins', Sans-serif;
}

.navbar{
    font-family: 'Poppins', Sans-serif;
    font-weight: 600;
}



#loginButton{
    border-radius: 40px;
    padding-top: 7px;
    width: 100px;
    height: 40px;
    background-color: #ffc224;
    border: 2px solid #d0a42e;
    text-align: center;
}

#loginButton:hover{
    cursor: pointer;
    border: 2px solid #5751e1;
    color:#5751e1;
    transition: ease-out 0.2s;
}

.nav-link{
    color: black;
}

.nav-link:hover{
    cursor: pointer;
    color: #5751e1
}

@media screen and (max-width: 1280px) {
    .externalLoginButton{
        display: none;
    }
    .navbar-nav{
        gap: 20px;
    }
    .bannerImageSize{
        display: none;
    }
}

@media screen and (min-width: 1280px){
    .liLoginButton{
        display: none;
    }
    .navbar-nav{
        gap: 60px;
    }
    
    .bannerImageSize{
        height: 420px;
        /*
        bottom: 145px;
        left: 37%;
        */
    }
}

@media screen and (min-width: 2048px){
    .liLoginButton{
        display: none;
    }
    .navbar-nav{
        gap: 60px;
    }
    
    .bannerImageSize{
        height: 500px;
        /*
        bottom: 50px;
        left: 45%;
        */
    }
    
}


.bannerAcua{
    background-color: red;
    height: 450px;
    margin-top: 30px;
    gap: 180px;
    /*
    position: absolute;
    */
    z-index: 2;
}

.bannerImage{
    /*
    position: relative;
    */
    z-index: 1;
}

.portraitBox{
    max-width: 420px;
    padding-bottom: 105px;
    margin-left: 40px;
    padding-left: 30px;
}

#bannerTitle{
    font-size: 140px;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

.portraitPrimaryColor{
    color: #161439;
}